<div class="header">
    <div class="w">
        <a class="logo" href="./index.html">如何</a>
        <div class="search-con">
            <input class="search-input" id="search-input" placeholder="......？"/>
            <button class="btn search-btn" id="search-btn">搜索</button>
        </div>
        <ul class="father-catagory">
        	<li class="father-li">
        		<a class="father-li-a" href="">生活</a> 
        	</li>
        	<li class="father-li">
        		<a class="father-li-a" href="">科技</a> 
        	</li>
        	<li class="father-li">
        		<a class="father-li-a" href="">艺术</a> 
        	</li>
        	<li class="father-li">
        		<a class="father-li-a" href="">健康</a> 
        	</li>
        	<li class="father-li">
        		<a class="father-li-a" href="">交际</a>
        	</li>
        	<li class="father-li">
        		<a class="father-li-a" href="">观点</a>
        	</li>
        </ul>
        <div class="login-logon">
        	<span>
        		<a href="./user-register.html">注册</a>
        	</span> |
        	<span>
        		<a href="./user-login.html">登录</a>
        	</span>
        </div>
    </div>
</div>